<% @posts.each do |post| %>
    <%= render post %>
<% end %>

<div class="d-grid gap-2 d-md-flex justify-content-md-end mt-5">
  <%= link_to "Novo Post", new_post_path, class: 'btn btn-success' %>
</div>
